//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////


@keyframes maskmove {
	0% {
		// width: 0;
		transform: scaleY(0);
		bottom: 0;
	}

	50% {
		// width: 100%;
		transform: scaleY(1);
	}

	100% {
		// width: 0;
		transform: scaleY(0);

		bottom: 101%;
	}
}