//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////


body{
	position: relative;
}


////////////////////

// loading

////////////////////

.loading{

	position: fixed;
	background-color: #fff;

	&,
	&__bg,
	&__content{
		width: 100vw;
		height: 100vh;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
	}


	&__content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		overflow: hidden;
	}

	@at-root .-isAfterAnimEnd .loading__content {
		width: 61.8%;
		height: 90vh;
		margin: auto;
		transition: transition(all, 0.5s);

		@include mq(tab) {
			width: 85%;
		}
	}

	&__bg{
		position: absolute;
		transition: transition(all, 0.5s);
		transform: translateY(100%);
		background: linear-gradient(to bottom right, rgb(226, 246, 255), rgb(255, 224, 230));
	}

	@at-root .-isTweenEnd {
		.loading__bg{
			mix-blend-mode:hard-light;
			transform: translateY(0);
		}
	}


	svg {
		width: 150px;
		height: auto;

		// #shape-d {
		// 	transform: translateX(30px);
		// }

		// #shape-e {
		// 	transform: translateX(-10px);
		// }
		// #shape-ee {
		// 	transform: translateX(-30px);
		// }
	}
}




////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	line-height: 1;
	position: fixed;
	text-align: center;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;	
	transition: all 0.1s linear 0s;
	
	@include mq( tab ){
		padding-top: 25px;
		padding-bottom: 25px;
	}		
	

	.wrap{
		display: flex;
		align-items: center;
		justify-content: space-between
	}
	

	&__logo{
		line-height: 1;
		
		img{
			transition: all 0.5s linear 0s;
			transition-delay: 0.2s;
			
			
			@include mq( tab ){
				max-width: 60px;
			}				
		}
	}


	&__description{	
		font-size: 1rem;
		transition: transition();
		text-align: left;

		@include mq( sp ) {
			line-height: 1.75;
			margin-left: $space_s;
		}
	}

	
}

.thankyou .siteHeader{
	&__description{
		display: none;
	}	
}


.-isScrolled .siteHeader{

	&__logo{
		img{
			width: 60px;

			@include mq( sp ) {
				max-width: 30px;
			}
		}
	}

	&__description {
	}
}	

//////////

// atfter load effect

//////////


.isLoaded.isRenderered{
	.siteHeader{
		&__logo,
		&__nav{
			transform: translateY(0px);
			opacity: 1;
		}	
		.siteHeader{
			&__logo{
				transition-delay: 0s;
			}
			&__nav{
				transition-delay: 0.2s;
			}
		}
	}
}

////////////////////

// sitenav

////////////////////

.siteNav{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 1;
	transition: transition();
	opacity: 0;
	pointer-events: none;

	@include mq( sp ){
		box-sizing: border-box;
		padding-right: 5%;	
		padding-left: 5%;
		overflow: hidden;
	}

	@at-root .-isScrolled .siteNav{
		opacity: 0.5;
		pointer-events: all;
	}

	ul{
		padding-bottom: 2em;
		display: flex;
		justify-content: center;

		@include mq(sp) {
			width: 100%;
			box-sizing: border-box;
			justify-content: flex-start;
			padding-right: 5%;
			padding-left: 5%;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}


	}

	li{
		list-style: none;
		a{
			font-family: $fontfamily_en;
		}

		&:not( :last-child ){
			&:after{
				content:  "";
				width: 5em;
				height: 1px;
				margin-right: 1em;
				margin-left: 1em;
				display: inline-block;
				vertical-align: middle;
				background-color: $basefontColor;
			}
		}
	}
}



////////////////////

// footer

////////////////////

.siteFooter
{
	margin-top: 20vh;
	font-size: 0.5em;
	text-align: center;


	&__icon{
		width: 90%;
		margin-left: auto;
		margin-bottom: $space_m;
		height: 200px;
		display: block;
        background: linear-gradient(to bottom right, rgb(226, 246, 255), rgb(255, 224, 230));

		@include mq( sp ) {
			height: 150px;
		}

	}

	a{
		padding-bottom: 2px;
		border-bottom: 1px solid;
	}
	
		
	@include mq( tab ){
		margin-top: 60px;
	}		

	&__copyright{
		margin-top: $space_s;
	}

}



////////////////////

// loading anim

////////////////////

.loadingAnim{
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 11;
	box-sizing: border-box;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #fff;
	background-color: #ffffff;

	svg path{
		fill: #777777
	}
	
	@include mq( tab ){
	}

}

.isLoaded{
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;

	&:after{
		height: 85vh;
		z-index: 0;
		position: absolute;

		@include mq( 1366 ){
			height: 90vh;
		}			
		
		
		@include mq( tab ){
			height: 50vh;
		}			
	}
	
	.loadingAnim{
		
		&__text,
		&__logo{
			transform: translateY( -10px );
			opacity: 0;
		}
		&__text:before,
		&__text:after{
			opacity: 0;
		}
	}
}



////////////////////

// link

////////////////////
