/*************************************

top

*************************************/


///////////////////////////////////////////////////////

// reset

///////////////////////////////////////////////////////


.section{
    &__index{
        margin-bottom: 60px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-feature-settings: "palt";
    }


    & + .section{
        margin-top: 18vh;
    }
}


p{
    line-height: 2.25;
}



///////////////////////////////////////////////////////

// style

///////////////////////////////////////////////////////
