
		<footer class="siteFooter">
			<i class="siteFooter__icon"></i>
			<div class="wrap">
				<p class="siteFooter__attention">
					当サイトに掲載されている制作物の無断転載は固くお断りいたします。
				</p>
				<p class="siteFooter__attention">
					<a href="pp.html">privacy policy</a>
				</p>
				<p class="siteFooter__copyright">copyright &copy; Dee all rights reserved.</p>
			</div>
		</footer>
	<%- include( '_scripts.ejs' ); %>