<% if( $active == 'top' ) { %>
<!-- <div class="loadingAnim">
    <div class="loadingAnim__content">
        <svg width="250" height="250" viewBox="0 0 250 250" class="loadingAnim__output"></svg>
    </div>
</div> -->
<% } %>
<header class="siteHeader">
    <div class="wrap">
        <div class="siteHeader__logo">
            <a href="/"><img src="<%# $path %>/assets/img/logo.svg" alt="Webサイト制作、CI,UIデザイン,SPA構築のフリーランスDee" width="80"></a>
        </div>
    <h1 class="siteHeader__description">中小企業、スタートアップ企業のWebサイト、CI,グラフィックデザイン制作</h1>
    </div>
</header>