<% if( $active == 'top' ) { %>
<div class="loadingAnim">
    <div class="loadingAnim__content">
        <svg width="250" height="250" viewBox="0 0 250 250" class="loadingAnim__output"></svg>
    </div>
</div>
<% } %>
<header class="siteHeader">
    <div class="wrap">
        <div class="siteHeader__logo">
            <a href="/"><img src="<%# $path %>/assets/img/dee-dot-horizontal.svg" alt="東京都のWebデザイン,コーディング,UIデザインは[Dee]" width="200"></a>
        </div>
    <h1 class="siteHeader__description">Deeは東京都でWeb制作、グラフィック、<br class="spShow">UIデザインを行っています。</h1>
    </div>
</header>